:root {
  --qianzi: #e6e6fa;
  --qianzi2: #CDA3E3;
  --zise: #9470DC;  /* 148,112,220 */
  --pink: #f8c3cd;
}

body {
	min-height: 600px;
	font-family: kaiti;
	font-weight: 800;
	color: var(--zise);
}

/* µÇÂ¼×¢²á */

.login_main {
	width: 36em;
	height: 28.8em;
	font-size: 1.1em;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 10px 0 rgba(194, 185, 213, 0.45);
	margin: 6em auto;
}

.login_left {
    width: 36%;
    height: 100%;
    float: left;
}

.login_left img {
	width: 100%;
	height: 100%;
}

.login_right {
    width: 54%;
    height: 100%;
	float: left;
	margin: 0 5%;
}

.login_img {
	width: 4.6em;
	height: 4.6em;
	margin: 1em auto 1.6em auto;
}

.login_img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.copyright {
	width: 100%;
	font-size: 0.8em;
	font-family: Hebrew;
	line-height: 3em;
	color: var(--qianzi2);
	font-weight: normal;
	text-align: center;
}

.copyright a {
	color: var(--qianzi2);
}

/* µ¼º½À¸ */

.header {
	width: 100%;
	height: 4em;
	z-index: 99;
	position: fixed;
	color: var(--zise);
	background: #ffffff;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.container2 {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	min-width: 1200px;
}

.h-show {
	float: left;
	font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.7em;
    cursor: pointer;
}

.h-menu {
	padding: 0;
	float: right;
	list-style: none;
	font-size: 1.1em;
	margin: 1.15em 0.8em 0 0.8em;
}

.h-menu li {
	float: left;
	margin: 0 0.8em;
}

.h-dropdown:after {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555555;
    content: "";
    position: relative;    
    width: 0;
}

.h-img {
	float: right;
	width: 2.2em;
	height: 2.2em;
	margin-top: 0.9em;
}

.h-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid rgba(164, 220, 112, 0.65);
}





















